#intro-bg {
  position:absolute;
  width:100%;
  height:100%;
  background-color:#ebebeb;
  opacity:1;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
}
.intro-messagebubble {
  font-family:helvetica, arial, sans-serif;
  display:none;
  background-color:#fff;
  color:black;
  -webkit-box-shadow:0px 4px 10px rgba(0,0,0,0.12);
  -moz-box-shadow:0px 4px 10px rgba(0,0,0,0.12);
  border-radius:8px;
  border:1px solid rgba(0,0,0,0.21);
  z-index:4000;
  width:400px;
  padding:20px 25px 25px 25px;

  position:absolute;
  top:45%;
  opacity:0;
  left:50%;
  margin-left:-225px;
  margin-top:-160px;
  -webkit-transition:all 0.5s;
  -moz-transition:all 0.5s;
}
.intro-icon {
  position:absolute;
  left:-12px;
  top:22px;
  width:32px;
  height:32px;
  background-image:url(/s/icon.png);
  background-repeat:no-repeat;
}
.intro-messagebubble .p1 {
  font-size:28px;
  margin-bottom:19px;
}
.intro-messagebubble .p2 {
  font-size:21px;
}
.p2 .highlight {
  background-color:#fff9c2;
}
.intro-messagebubble h1 {
  margin-top:0px;
}
.intro-messagebubble a {
  color:#0055cc;
}

.compat .compat,
.uncompat .uncompat{
  display:inline;
}
.compat .uncompat,
.uncompat .compat {
  display:none;
}
