.presentation {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}
.presentation ::selection { background: transparent; }
.scene {
  position:absolute;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
}
.mocknode {
  position:absolute;
  z-index:10;
  cursor:pointer;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
}
.mocknode.selected {
  position:absolute;
  cursor:default;
  z-index:100;
  opacity:1;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
}
.mocknode .image {
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  position:absolute;
}
.mocknode.selected .image {
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-box-shadow:0px 4px 18px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0px 4px 18px rgba(0, 0, 0, 0.5);
  border:1px solid rgba(0,0,0,0.35);
  background-color:rgba(0,0,0,0.35);
  position:absolute;
}
.mocknode .thumb {
  position:absolute;
  opacity:0.5;
  filter: alpha(opacity=50)
          progid:DXImageTransform.Microsoft.Blur(pixelradius=7);
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  border:1px solid transparent;
}

/* not really meant to be here */
body {
  font-family:helvetica, arial, sans-serif;
  font-size:12px;
  width:100%;
  height:100%;
  margin:0px;
}