body {
  background-color:white;
  width:100%;
  height:100%;
  margin:0;
}
#loading {
  background-color:#fff;
  z-index:2000;
  pointer-events:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;

  -webkit-transition:all 0.6s;
  -moz-transition:all 0.6s;
}
#message{
  font-family:helvetica, arial, sans-serif;
  background-color:rgba(0, 0, 0, 0.8);
  color:white;
  border-radius:4px;
  z-index:2000;
  pointer-events:none;
  width:200px;
  padding:10px;

  position:absolute;
  opacity:0;
  top:45%;
  left:50%;
  margin-left:-110px;
  margin-top:-50px;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
}